@model ICollection<HelpMyBook.Web.ViewModels.Home.BookViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.Count <= 0)
{
    <h1>There are no Downloads!</h1>
}
else
{
    foreach (var book in Model)
    {
        <h1>Id: @book.Id</h1>
        if (book.BookFile != null)
        {
            <h3>i'm in</h3>
            @Html.ActionLink($"Download {book.BookFile.Name}", "DownloadBook", "Home",new { id = book.BookFile.Id } ,new { @class = "btn btn-primary"});
        }
        else
        {
            <h1>No file!</h1>
        }
        <hr />
    }
}

