@model HelpMyBook.Web.ViewModels.Error.ErrorImageOutputModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <img class="center-block"  src=@Url.Content("~/Content/Images/Errors/404-opt.png") alt="Error-Image" />    
</div>