@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Who are we and what we do?</h2>
    <article>
        We are an organisation which helps authors that can't but want to publish their book<br />
        by giving the opportunity of our customers to contribute for the creation of someone else's book<br />
    </article>
</div>